anytree==2.5.0
backports.csv==1.0.7
beautifulsoup4==4.8.2
chardet==3.0.4
cheroot==8.2.1
CherryPy==18.5.0
docopt==0.6.2
feedparser==5.2.1
filetype-1.0.5
future==0.18.2
importlib-resources==1.0.2
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
lxml==4.5.0
more-itertools==8.2.0
mosestokenizer==1.1.0
mysqlclient==1.4.6
nltk==3.4.5
numpy==1.18.1
openfile==0.0.7
Pattern==3.6
pdfminer.six==20200124
portend==2.6
pycryptodome==3.9.6
python-docx==0.8.10
pytz==2019.3
requests==2.20.0
Sastrawi==1.0.1
scipy==1.4.1
singledispatch==3.4.0.3
six==1.14.0
sortedcontainers==2.1.0
soupsieve==1.9.5
tempora==2.1.0
textblob==0.15.3
tinysegmenter==0.4
toolwrapper==1.0.0
uctools==1.2.1
zc.lockfile==2.0
