textacy==0.6.2
tqdm==4.38.0
nltk==3.4.5
msgpack==0.6.1
anytree==2.5.0
tinysegmenter==0.4
textblob==0.15.3
mosestokenizer==1.1.0
pandas==1.1.4
numpy==1.19.4
pylru==1.2.0
Sastrawi==1.0.1
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
Cython==0.29.21
Pattern==3.6
analyzer==0.1.1
Sastrawi==1.0.1
PyPDF2==1.26.0
requests==2.25.0
